p{
    color:blue;
}
h2{
    color:rgb(130, 156, 254);
}


a{
    font-size: px700;
}
body{
    background-color:rgb(255, 115, 115) ;
    font-family: 'Playfair Display', serif;}
#one{
    background-color: aquamarine;
}
#two{
    background-color:blue;
}
